.warning{
    height: 40px;
    background-color: red;
    color: white;
    position: absolute;
    right: 0;
    top: 10%;
    width: 250px;
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
}